<div>
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Perpustakaan</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
          Perpustakaan simple yang dibuat untuk memenuhi UCP1 PAW
        </h2>
        <a class="btn btn-primary" href="/list-buku">Get Started</a>
      </div>
    </div>
  </div>
</div>
